Repository AliBagheri2079/dashboard-react-ts-tailwind-reactsuite-emotion-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.css": "stylelint"
}

:hammer: chore: add lint command for running lint-staged
  package.json
Due: none

:hammer: perf: add lint command for running lint-staged
  package.json
Due: none

:wrench: perf: add jsxImportSource option in tsconfig file for working emotion with typescript
  tsconfig.json
Due: none

:wrench: perf: improve performance by adding @emotion/babel-plugin and @babel/core
  .babelrc
  package.json
  pnpm-lock.yaml
Due: none

:heavy_plus_sign: feat: add emotion dependency to project
  package.json
  pnpm-lock.yaml
Due: none

:wrench: perf: improve performance with @emotion/eslint-plugin for linting emotion styles
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: none

:art: refactor: move app file to container folder
  src/App.css
  src/App.tsx
  src/containers/App/index.tsx
  src/main.tsx
Due: prettier --write, eslint --fix, stylelint

:lipstick: style: improve ui styles with global(reset and normalize) emotion styles
  src/containers/App/index.tsx
  src/containers/GlobalEmotionStyles/index.tsx
  src/containers/GlobalEmotionStyles/styles.tsx
Due: prettier --write, eslint --fix

:wrench: refactor: ignore many unhelpful stylelint rules
  .stylelintrc.json
Due: none

:sparkles: feat: create layout sketch with grid
  src/containers/App/index.tsx
  src/index.css
Due: prettier --write, eslint --fix, stylelint

:poop: perf: add some bad code and styles to fix style problem
  src/containers/App/index.tsx
  src/index.css
Due: prettier --write, eslint --fix, stylelint

:zap: perf: resolving path with absolute imports
  package.json
  tsconfig.json
  vite.config.ts
Due: none

:lipstick: style: add emotion theme provider with color and size values
  src/containers/App/index.tsx
  src/containers/GlobalEmotionStyles/index.tsx
  src/containers/GlobalEmotionStyles/styled.tsx
  src/containers/GlobalEmotionStyles/theme.tsx
Due: prettier --write, eslint --fix

:wrench: refactor: ignore two stylelint rules
  .stylelintrc.json
Due: none

:lipstick: style: cleanup root css file and create many css var for light/dark mode
  src/index.css
Due: stylelint

:art: refactor: add routing operation to rout folder
  src/containers/App/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: add layout wrapper items with emotion styled
  src/layouts/index.tsx
  src/layouts/styled.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create navigation wrapper with emotion styled
  src/layouts/Navigation/index.tsx
  src/layouts/Navigation/styled.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: improve performance with custom svg component
  src/components/SVG/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create custom brand logo and add navbar brand component
  src/components/Icons/BuildingLibrary.tsx
  src/components/Navbar/Brand.tsx
  src/components/Navbar/styled.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: perf: improve performance with uuid uniq id generator
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: feat: improve performance with custom button emotion styled
  src/components/Button/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create navbar custom icons
  src/components/Icons/Cog.tsx
  src/components/Icons/CurrencyDollar.tsx
  src/components/Icons/ModernHome.tsx
  src/components/Icons/OpenMessage.tsx
  src/components/Icons/RightOnRectangle.tsx
  src/components/Icons/SquareStack.tsx
  src/components/Icons/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: add navbar items component with emotion styled
  src/components/Navbar/Items.tsx
  src/components/Navbar/styled.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create header wrapper with emotion styled
  src/layouts/Header/index.tsx
  src/layouts/Header/styled.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: add head title component
  src/components/Head/Title.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create header custom icons
  src/components/Icons/Moon.tsx
  src/components/Icons/Sun.tsx
  src/components/Icons/UserCircle.tsx
  src/components/Icons/VerticalEllipsis.tsx
  src/components/Icons/Wifi.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: add head controller component with emotion styled
  src/components/Head/Controller.tsx
  src/components/Head/styled.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add react suite and react suite icons dependency to project
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: feat: create product page wrapper with custom styles
  src/pages/Products/index.css
  src/pages/Products/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix, stylelint

:sparkles: feat: create product page slider
  src/layouts/Slider/index.tsx
Due: prettier --write, eslint --fix

:label: feat: improve performance with carousel and shopcard types
  src/@types/types/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create slider placeholder and items with real data from fakestore api
  src/components/Slide/Item.tsx
  src/components/Slide/Placeholder.tsx
Due: prettier --write, eslint --fix

:lipstick: fix: fix many style problem for adding react suite styles
  src/components/Button/index.tsx
  src/components/Head/Title.tsx
  src/layouts/Header/styled.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create readonly tag select component
  src/components/TagSelect/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create product page shop items
  src/layouts/ShopItems/index.tsx
  src/pages/Products/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create shop card placeholder and items with real data from fakestore api
  src/components/ShopCard/Item.tsx
  src/components/ShopCard/Placeholder.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add mobx state management dependency
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: feat: create shopitems and slider store with mobx
  src/store/mobx/ShopItemsStore.tsx
  src/store/mobx/SliderStore.tsx
Due: prettier --write, eslint --fix

:zap: perf: improve performance with getshopitems and getslider api services
  src/services/getShopItems.tsx
  src/services/getSlider.tsx
Due: prettier --write, eslint --fix
