Repository AliBagheri2079/dashboard-react-ts-tailwind-reactsuite-emotion-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
  "*.tsx": ["prettier --write", "eslint --fix"],
  "*.css": "stylelint"
}

:art: perf: improve structure by converting shopitems and slider local store to mobx global store
  src/layouts/ShopItems/index.tsx
  src/layouts/Slider/index.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add recoil state management dependency
  package.json
  pnpm-lock.yaml
Due: none

:art: perf: improve structure with wrapping recoil root
  src/containers/App/index.tsx
Due: prettier --write, eslint --fix

:label: refactor: improve performance with changing carousel type name to slider type
  src/@types/types/index.tsx
  src/services/getSlider.tsx
  src/store/mobx/SliderStore.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create slider, shopitem atoms and selector
  src/store/recoil/atom/index.tsx
  src/store/recoil/selector/index.tsx
Due: prettier --write, eslint --fix

:art: perf: improve structure with convert slider, shopitems mobx store to recoil state management
  src/components/ShopCard/Item.tsx
  src/components/Slide/Item.tsx
  src/layouts/ShopItems/index.tsx
  src/layouts/Slider/index.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add flowbite, postcss and tailwindcss dependencies
  package.json
Due: none

:lipstick: style: add postcss and tailwind config file, add tailwind style dependency
  postcss.config.cjs
  src/index.css
  tailwind.config.cjs
Due: stylelint

:wrench: refactor: ignore at rule lint for tailwind dependency
  .stylelintrc.json
Due: none

:sparkles: feat: add crypto page to routes management folder
  src/pages/Crypto/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create coin card placeholder component
  src/components/CoinCard/Placeholder.tsx
Due: prettier --write, eslint --fix

:label: feat: improve performance with coins list type and enum
  src/@types/enum/index.tsx
  src/@types/types/index.tsx
Due: prettier --write, eslint --fix

:zap: perf: improve performance with getcoinslist api services
  src/services/getCoinsList.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create coins list card layout
  src/layouts/CoinsList/Card.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: improve performance with change price format utility method
  src/utils/changePriceFormat.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create coin card avatar, price component
  src/components/CoinCard/Avatar.tsx
  src/components/CoinCard/Price.tsx
  src/components/CoinCard/index.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add chart.js dependency
  package.json
  pnpm-lock.yaml
Due: none

:label: feat: improve performance with coin chart type
  src/@types/types/index.tsx
Due: prettier --write, eslint --fix

:zap: perf: improve performance with get coin market chart api services
  src/services/getCoinMarketChart.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create coin card chart component
  src/components/CoinCard/Chart.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create coins list table layout
  src/layouts/CoinsList/Table.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add rematch dependencies
  package.json
  pnpm-lock.yaml
Due: none

:sparkles: feat: create coin list and market chart models
  src/store/rematch/models/coinMarketChart.tsx
  src/store/rematch/models/coinsList.tsx
  src/store/rematch/models/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: improve performance with create store file
  src/store/rematch/index.tsx
Due: prettier --write, eslint --fix

:art: perf: improve performance with react redux provider
  src/containers/App/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: improve performance with converting crypto local store to rematch store
  src/pages/Crypto/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: improve performance with converting coin chart local store to rematch store
  src/components/CoinCard/Chart.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add jotai dependency
  package.json
  pnpm-lock.yaml
Due: none

:wrench: feat: add jotai plugins to vite config file
  vite.config.ts
Due: none

:art: perf: improve structure with convert rematch provider to jotai provider
  src/containers/App/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create coins list and market chart atoms
  src/store/jotai/atom/index.tsx
Due: prettier --write, eslint --fix

:art: perf: improve structure with convert coins list and chart rematch store to jotai store on coin list card, table and chart components
  src/components/CoinCard/Chart.tsx
  src/layouts/CoinsList/Card.tsx
  src/layouts/CoinsList/Table.tsx
  src/pages/Crypto/index.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add preline dependency
  package.json
  pnpm-lock.yaml
Due: none

:lipstick: style: add preline plugin to tailwind config file
  tailwind.config.cjs
Due: none

:sparkles: feat: create home page with preline
  src/containers/App/index.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix

:bug: fix: convert many svg prop type to conditional
  src/components/SVG/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create arrow and star custom icon
  src/components/Icons/Arrow.tsx
  src/components/Icons/Star.tsx
  src/components/Icons/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create hom page intro title component
  src/components/IntroTitle/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create home page sign form
  src/components/SignForm/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create home page login modal
  src/components/LoginModal/index.tsx
Due: prettier --write, eslint --fix
