Repository AliBagheri2079/dashboard-react-ts-tailwind-reactsuite-emotion-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

:sparkles: feat: create home page cookie component
  src/components/Cookie/index.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: create not found component with tailwind and postcss
  src/components/NotFound/index.css
  src/components/NotFound/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix, stylelint

:heavy_plus_sign: feat: add react router dom
  package.json
  pnpm-lock.yaml
Due: none

:zap: perf: improve performance with creat routing strategy
  src/routes/ProtectedRoute.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix

:art: refactore: rename home page to register page
  src/pages/Register/index.tsx
Due: prettier --write, eslint --fix

:bug: bug: add react router outlet instead of children - add many css reset style
  src/layouts/Navigation/styled.tsx
  src/layouts/index.tsx
  src/layouts/styled.tsx
Due: prettier --write, eslint --fix

:sparkles: feat: improve performance with usehooks-ts library
  package.json
  src/hooks/useLocalStorage.tsx
Due: prettier --write, eslint --fix

:art: perf: improve performance with handle navlink, signform and notfound components
  src/components/Navbar/Items.tsx
  src/components/Navbar/styled.tsx
  src/components/NotFound/index.tsx
  src/components/SignForm/index.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add react helmet dependency
  package.json
Due: none

:zap: perf: improve performance with adding document title with react helmet
  src/pages/NotFound/index.css
  src/pages/NotFound/index.tsx
  src/pages/Register/index.tsx
  src/routes/index.tsx
Due: prettier --write, eslint --fix, stylelint

:zap: perf: improve performance with adding document title with useDocumentTitle hook
  src/pages/Crypto/index.tsx
  src/pages/Products/index.tsx
Due: prettier --write, eslint --fix

:heavy_plus_sign: feat: add hero icons react dependency
  package.json
  pnpm-lock.yaml
Due: none

:bug: bug: improve styles file and head controller component for dark\light mode system
  src/components/Head/Controller.tsx
  src/containers/GlobalEmotionStyles/theme.tsx
  src/index.css
Due: prettier --write, eslint --fix, stylelint

:heavy_plus_sign: feat: add tanstack react router dependency
  package.json
  pnpm-lock.yaml
Due: none

:art: perf: improve performance with setup route configurate
  src/routes/index.tsx
Due: prettier --write, eslint --fix

:art: perf: convert react router dependency to tanstack dependency
  src/components/Head/Controller.tsx
  src/components/Navbar/Items.tsx
  src/components/SignForm/index.tsx
  src/layouts/index.tsx
Due: prettier --write, eslint --fix

:necktie: feat: add postman api json file
  api.postman_collection.json
Due: none

:memo: docs: add project readme file
  README.md
  public/Screenshot.png
Due: none

📝 docs: add netlify domain to readme file
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  prettier --write: any of: *.tsx
  eslint --fix: any of: *.tsx
  stylelint: any of: *.css
